
#loginbutton{
    margin-right: auto ;
   
    }
    .homeimage
    {
        padding-top: 100px;
        margin-top: 20px ;
        padding-bottom: 50px;
    }

    .homedesign{
        background-color: black;
    }


    #button2
    {
       
        margin-left: 12px;
    }
    #button3
    {
       
        margin-left: 12px;
    }